<div class="container" *ngFor="let article of articles; index as id">
    <a class="Title" [routerLink]="['page', article.id]" routerLinkActive='active'><h3>{{article.name}}</h3></a>

    <div class="description">
      <div class="desText"><span>{{this.getDescripton(id)}}</span></div>
      <img class="desPhoto" src="{{this.getFirstPhoto(id)}}"/>
    </div>
    <div class="ArticleInfo">
      <div class="Date">
        {{ article.date | date }}
      </div>
      <a routerLink="/author/{{article.author}}" routerLinkActive='active' class="author" >автор : {{article.author}}</a>
      
      <div class="Tags">
        <ng-template class="tag" ngFor let-item [ngForOf]="article.tags" let-i="index">
          <a [routerLink]="['tag', item]" routerLinkActive='active' *ngIf="i == 0" class="tag">tags: #{{item}}</a>
          <a [routerLink]="['tag', item]" routerLinkActive='active' *ngIf="i != 0" class="tag">#{{item}}</a>
        </ng-template>
      </div>
   
      <div><a class="Read" [routerLink]="['page', article.id]" routerLinkActive='active'> Читать </a></div>
    </div>
</div>
  